<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Account</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.css">
</head>
<body class="text-center">
<div class="container mt-5">
    <h1 class="text-center mb-3 display-5 font-weight-bold">Add an Account</h1>
    <form th:action="@{/accounts}" method="POST" class="d-inline-block">
        <table class="table table-info table-hover">
            <tr>
                <th>Rib</th>
                <td><input class="form-control" type="text" name="rib"/></td>
            </tr>
            <tr>
                <th>Balance</th>
                <td><input class="form-control" type="text" name="balance"/></td>
            </tr>
            <tr>
                <th>CIN</th>
                <td><input id="cin" class="form-control" type="text" name="cin"/></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><input id="firstName" class="form-control" type="text" name="firstName"/></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input id="lastName" class="form-control" type="text" name="lastName"></td>
            </tr>
            <tr>
                <th>Action</th>
                <td class="text-center">
                    <input class="btn btn-success" type="submit" value="Save">
                    <a th:href="@{/accounts}" class="btn btn-secondary">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/accounts.js"></script>
</body>
</html>
