<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Client</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center" style="background-image: url('/images/addClient.jpg'); background-size: cover;">
<div class="container mt-5 offset-md-6 col-md-6">
    <h1 class="text-center mb-3 display-5 font-weight-bold text-white" style="font-size: 100px;">Add Client</h1>
    <form th:action="@{/clients}" method="POST" class="d-inline-block">
        <table class="table table-hover text-white" style="font-size: 30px;">
            <tr>
                <th>CIN</th>
                <td><input class="form-control" type="text" name="cin" pattern="[0-9]+" title="Please enter only numeric values." required/></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><input class="form-control" type="text" name="firstName"/></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input class="form-control" type="text" name="lastName"/></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><input class="form-control" type="text" name="address"/></td>
            </tr>
            <tr>
                <th>Action</th>
                <td class="text-center">
                    <input class="btn btn-success btn-lg" type="submit" value="Save">
                    <a th:href="@{/clients}" class="btn btn-secondary btn-lg">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/clients.js"></script>
</body>
</html>
