<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="container mt-5">
    <h1 class="fw-bold">List of Clients</h1>
    <form th:action="@{/clients/search}" method="POST">
        <div style="display: flex; justify-content: flex-end; margin-right: 5%;">
            <input type="text" class="form-control" placeholder="First Name" aria-describedby="button-addon2"
                   style="width: 20%;" name="firstName"/>
            <input type="text" class="form-control" placeholder="Last Name" aria-describedby="button-addon2"
                   style="width: 20%;" name="lastName"/>
            <input type="submit" value="Search" class="btn btn-outline-secondary"/>
        </div>
    </form>
    <div style="display: flex; justify-content: flex-start; margin-right: 5%;">
        <a th:href="@{/clients/add}" class="btn btn-success">Add Client</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>CIN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td th:text="${client.cin}"/>
            <td th:text="${client.firstName}"/>
            <td th:text="${client.lastName}"/>
            <td th:text="${client.address}"/>
            <td>
                <a th:href="'/clients/edit/' +${client.cin}" class="btn btn-outline-info">Edit</a>
                <a th:href="'/clients/delete/' +${client.cin}" class="btn btn-danger">Delete</a>
                <a th:href="'javascript:deleteClient('+${client.cin}+')'" class="btn btn-danger">Delete-Ajax</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/clients.js"></script>
</body>
</html>
