<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Client</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="container mt-5">
    <h1 class="text-center mb-3 display-5 font-weight-bold">Edit a Client</h1>
    <form th:action="@{/clients}" method="POST" class="d-inline-block">
        <table class="table table-info table-hover">
            <tr>
                <th>CIN</th>
                <td><input class="form-control" type="text" name="cin" th:value="${client.cin}" readonly/></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><input class="form-control" type="text" name="firstName" th:value="${client.firstName}"/></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input class="form-control" type="text" name="lastName" th:value="${client.lastName}"/></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><input class="form-control" type="text" name="address" th:value="${client.address}"/></td>
            </tr>
            <tr>
                <th>Action</th>
                <td class="text-center">
                    <input type="submit" value="Update" class="btn btn-primary"/>
                    <a th:href="@{/clients}" class="btn btn-secondary">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/clients.js"></script>
</body>
</html>
